<div class="note-box">
  <div class="note-header">
    <img src="https://cdn-icons-png.flaticon.com/512/1001/1001371.png" class="note-icon">
    <div>
      <h3>SAVE A NOTE</h3>
      <p>Or Paste Some Text</p>
    </div>
  </div>

  <textarea placeholder="Type or paste your notes here..."></textarea>
</div>
